#chat_container {
    font-size: 34px;
}

.chat_line {
    line-height: 55px;
}

.badge {
    width: 28px;
    height: 28px;
    margin-right: 4px;
    margin-bottom: 6px;
}

.badge:last-of-type {
    margin-right: 6px;
}

.colon {
    margin-right: 14px;
}

.cheer_bits {
    font-weight: 600;
    margin-left: 4px;
    margin-right: 7px;
}

.cheer_emote {
    max-height: 42px;
    margin-bottom: -10px;
}

.emote {
    max-width: 128px;
    max-height: 42px;
    margin-right: -6px;
}

.upscale {
    height: 42px;
}

.emoji {
    height: 39px;
}