#example {
    font-size: 48px;
}

.chat_line {
    line-height: 75px;
}

.badge {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 8px;
}

.nick {
    margin-left: 8px;
}

.colon {
    margin-right: 20px;
}

.cheer_bits {
    font-weight: 500;
    margin-right: 10px;
}

.cheer_emote {
    max-height: 60px;
    margin-bottom: -15px;
}

.emote {
    max-width: 180px;
    height: 60px;
    margin-right: -8px;
    margin-bottom: -15px;
}

.emoji {
    width: 55px;
    height: auto;
    margin-bottom: -15px;
}