body {
    height: 100vh;
    margin: 0;
    background: rgb(34, 34, 34);
    color: white;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

header img {
    width: 250px;
    height: auto;
}

header div {
    margin: 20px;
    text-align: center;
}

h1 {
    margin: 0px;
    font-weight: 600;
    font-size: 3em;
}

h2 {
    margin: 0;
    font-weight: 300;
}

section {
    width: 80%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 0;
    text-align: justify;
}

em {
    font-weight: bolder;
    font-style: unset;
}

a {
    color: white;
    text-decoration: unset;
    font-weight: bold;
    transition: opacity .3s;
}

a:hover {
    opacity: .6;
}

form[name="generator"] {
    width: 950px;
    margin: 15px;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(43, 43, 43);
    box-shadow: 2px 2px 10px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form_col {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_row {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.form_row.left {
    justify-content: flex-start;
}

.form_row.right {
    justify-content: flex-end;
}

.form_row.left label {
    margin-left: 20px;
}

.form_row.right label {
    margin-right: 20px;
}

.form_row.center {
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 2px 10px;
}

input[type="text"].short {
    width: 40px;
    height: 25px;
    font-size: 0.8em;
}

input[type="checkbox"] {
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 25px;
    background: rgb(221, 221, 221);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked {
    background: rgb(14, 207, 255);
}

input[type="checkbox"]:after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked:after {
    left: calc(100% - 1.5em);
}

select {
    width: 180px;
    height: 25px;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 0.7em;
    padding: 0px 8px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#fade_seconds {
    margin: 10px;
    font-size: 0.7em;
    font-weight: 200;
}

select:focus,
input:focus {
    outline: none;
}

#submit_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview {
    margin-top: 20px;
    display: flex;
}

.preview img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

#example {
    margin: 25px 0px;
    margin-top: 10px;
    padding: 1rem;
    border-radius: 15px;
    overflow: hidden;
    color: white;
    font-weight: 800;
    word-break: break-word;
    transition: background-color .3s ease-in-out;
}

#example.white {
    background-color: white;
}

#example .user_info {
    display: inline-block;
}

#example .badge {
    vertical-align: middle;
}

#example .cheer_bits {
    color: rgb(189, 98, 255);
    font-size: 0.6em;
    -webkit-text-stroke: 1px black;
}

input[type="submit"],
input[type="button"] {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    opacity: .7;
    transition: opacity .3s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    opacity: 1;
}

#result {
    position: relative;
    width: 950px;
    margin: 15px;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(43, 43, 43);
    box-shadow: 2px 2px 10px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alert {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 800px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 2px 10px;
    transition: opacity .2s ease-out;
}

#url {
    width: 800px;
    cursor: pointer;
}

#result p {
    text-align: center;
    font-size: 0.9em;
    margin: 1em;
}

#donation {
    font-size: 0.7em;
    font-weight: 300;
    text-align: center;
    margin: 30px;
}

#donation .emote {
    height: 30px;
    width: 30px;
    margin-bottom: -5px;
    margin-right: 0;
}

#donation form {
    margin: 15px;
}

#paypal {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(255, 196, 57);
    font-size: 0.9em;
    font-weight: 600;
}

footer {
    width: 100%;
    margin-top: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

footer p {
    font-size: 0.8em;
    font-weight: 200;
    margin: 0;
}

footer a {
    font-weight: 400;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77);
}

::-webkit-scrollbar-track {
    background: black;
}